.container{
    display: flex;
    
}

.p-card .p-card-content{
    padding: 0 !important;
}

.data{
    margin: 0;
    padding: 0;
    text-align: end;
    padding-right: 1rem;
    font-weight: normal;
}

.chart{
    width: 40%;
    margin-left: 25%;
}